@keyframes displayPath {
  to {
    stroke-dashoffset: 0; } }

@keyframes logoHide {
  from {
    bottom: 0;
    padding-top: 10vh;
    padding-bottom: 10vh; }
  to {
    bottom: 100%;
    padding-top: 0;
    padding-bottom: 0; } }

#gv-logo-animated-inner {
  background: #FFCC00;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  padding: 10vh;
  overflow: hidden;
  animation: logoHide 1s cubic-bezier(0.8, 0, 0.3, 0.9) forwards;
  animation-delay: 2s; }
  #gv-logo-animated-inner #gv-logo-animated-limit {
    max-width: 80vh;
    margin: 0 auto; }
