/app/config/parameters.yml
/phpunit.xml
/var/*
vendor/
composer.phar
/.idea/
web/bower_components/
node_modules
web/cookie.txt
package-lock.json
composer.lock
/web/**/*.min.js
/web/**/*.map
/web/**/*.css