#ressourceTools {
  border-bottom: 1px dashed #EEE; }
  #ressourceTools a {
    border: 1px solid #EEE;
    border-bottom-color: transparent;
    border-radius: 0;
    color: #555555;
    cursor: pointer; }
    #ressourceTools a span {
      color: #01acdd;
      margin-right: 9px; }

.illustration {
  width: 100%;
  margin: 20px 0; }

h3 {
  font-size: 16px;
  color: #CCC; }

ul, li {
  list-style: none; }

.fieldLabel {
  text-align: right;
  color: #C0C0C0;
  padding-right: 10px;
  vertical-align: top; }

.social-links .social {
  width: 40%;
  margin: 5%;
  float: left; }

.detailInfo .field-empty {
  display: none; }

h2, h3 {
  font-family: petitevoisine, sans-serif; }

h2 {
  color: #28ccfb; }

h3 {
  color: #65767B;
  font-size: 16px;
  text-align: right;
  border-bottom: 1px dashed #CCC;
  padding-bottom: 10px;
  margin-bottom: 15px; }
  h3 span.glyphicon {
    opacity: .3;
    float: left; }

.detailInfo {
  width: 100%; }
  .detailInfo tr td {
    padding: 6px 5px;
    border-bottom: 1px solid #F5F5F5; }
  .detailInfo tr td:first-of-type {
    text-align: right;
    width: 30%; }

.side-blocks a.strip {
  background-color: #01acdd;
  font-weight: bold;
  font-size: 14px;
  display: block;
  color: white;
  padding: 10px 15px;
  transform: rotate(-2deg);
  box-shadow: -5px 5px 0 rgba(0, 0, 0, 0.1); }

.side-blocks a.strip:hover {
  background: white;
  color: #555;
  border: 4px solid #01acdd;
  padding: 6px 11px;
  text-decoration: none; }

.side-blocks a.list-item {
  color: #666; }
  .side-blocks a.list-item span {
    margin-right: 10px;
    color: #01acdd; }

.tags-cloud a {
  background: #bcef5b;
  padding: 4px 14px;
  margin: 2px 5px;
  display: block;
  float: left;
  border-radius: 38px;
  color: #65767B;
  border: 1px solid #bcef5b;
  text-decoration: none; }

.tags-cloud a:hover {
  background: #07c3f8;
  border: 1px solid #07c3f8;
  color: #65767B; }

.tags-cloud-2 a {
  background-color: #bcef5b;
  border-color: #bcef5b; }

.tags-cloud-2 a:hover {
  background: #FFF;
  border-color: #FC0;
  color: #FC0; }

.detail-description-inner {
  border: 2px dashed #01acdd;
  padding: 10px;
  margin: 10px 0;
  box-shadow: -5px 5px 0 rgba(0, 0, 0, 0.1); }

.detail-image .image {
  background-position: center;
  background-size: cover;
  padding-bottom: 100%; }
