a, a:hover, a:active {
  position: relative;
  text-decoration: none;
  color: #555;
  overflow: hidden; }

a {
  border: 1px solid #EEE; }

a:hover {
  box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.1); }

a .chevron {
  display: none; }

.search-result-content {
  margin-bottom: 10px;
  display: block;
  padding: 10px 10px 10px; }

.search-result-content h2 {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 17px;
  font-weight: bold; }

.description {
  color: #888; }

.image img {
  width: 100%; }

.info {
  padding: 0; }

.clearfix {
  clear: both; }

/* Desktop only */
@media (min-width: 768px) {
  @keyframes resultHoverChevron {
    0% {
      margin-top: 10px; }
    100% {
      margin-top: -16px; } }
  a:hover .chevron {
    display: block;
    position: absolute;
    right: 27px;
    top: 50%;
    height: 14px;
    opacity: .2;
    width: 20px;
    font-size: 30px;
    animation: resultHoverChevron 0.5s cubic-bezier(0, 0.34, 0.25, 1) forwards; }
  .description {
    color: #888;
    margin-right: 60px; } }

@media (max-width: 768px) {
  .image {
    display: none; } }
