$lgvMainYellow: #FFCC00;
$lgvSecondYellow: #BB6600;

@font-face {
  font-family: 'petitevoisineexpanded';
  src: url('../../common/fonts/petitevoisine/petite_voisine_bold_final-webfont.woff2') format('woff2'),
  url('../../common/fonts/petitevoisine/petite_voisine_bold_final-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.btn-primary-lgv {
  background: $lgvMainYellow;
  border-radius: 0;
}

.table tbody tr td.padded-value {
  padding:16px;
}

// What ?
