@import "../../../common/css/style.scss";

header {
  @keyframes headerFadeIn {
    0% { top: -200px; }
    100% { top: 0; }
  }
  animation: headerFadeIn 0.5s cubic-bezier(0.8, 0, 0.3, 0.9) forwards;
  background-color: #FFCC00;
  padding: 1.5px 20px;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  position: fixed;
  z-index: 1000;

  .search {
    margin-top: 10px;
    margin-bottom: 10px;
    .nav {
      margin: 0 15px;
      li {
        margin-top: 10px;
        a {
          padding-left: 15px;
          span {
            margin-left: 0;
            margin-right: 8px;
          }
        }
      }
    }
    #searchText {
      border-color: #FFCC00;
      border-radius: 0;
    }
    input[type=submit] {
      background: #333;
      border: 0;
      color: #888;
      text-shadow: none;
    }
    input[type=submit]:hover {
      background: #fff192;
    }
  }
  #my-account-link {
    span {
      margin-top: 0;
      font-size: 18px;
      color: #FFF;
    }
  }
  // Responsive.
  @media (max-width: 768px) {
    .logo-circle {
      position: initial;
      width: auto;
      padding: 10px;
      height: auto;
      top: 0;
      img {
        width: auto;
      }
    }
    .col-search-logo {
      margin: -12vw 0 -8vw 0;
    }
  }

  h1 {
    display: none;
    font-family: patrickhands, sans-serif;
    font-size: 7vw;
    text-align: center;
    color: #FFF;
    margin: 0 0 20px;
    border-bottom: 2px dashed black;
    padding-bottom: 14px;
  }

  #my-account-link {
    margin: 7px 0 0 0;
    display: block;
  }
}

@media (max-width: 768px) {
  header {
    position: inherit;
    .logo-circle.gv-header {
      border: 0;
    }
    h1 {
      display: block;
    }
  }
}
