li {
  float: left;
  margin-bottom: -1px;
  position: relative;
  display: block; }
  li a {
    text-decoration: none;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #65767B; }
    li a .counter {
      background: rgba(0, 0, 0, 0.2);
      padding: 3px 5px;
      border-radius: 50px;
      color: #65767B; }
    li a .glyphicon {
      margin-right: 8px;
      opacity: .2; }
  li.active a {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffcc00+0,ffb600+100 */
    background: #bcef5b;
    /* Old browsers */
    color: #65767B;
    border-color: #bcef5b;
    border-bottom: 1px solid #bcef5b; }
    li.active a .glyphicon {
      opacity: .7; }
  li.active .counter {
    color: #65767B; }

@media (max-width: 768px) {
  li, a {
    display: block;
    float: left;
    clear: both;
    width: 100%; }
    li span.counter, a span.counter {
      float: right; }
  li.active a {
    border: 0;
    border-radius: 4px; } }
