.detailInfo {
  tr {
    td {
      padding: 2px 5px;
    }

    td:first-of-type {
      opacity: .5;
      text-align: right;
      width: 30%;
    }
  }
}

.illustration {
  width: 100%;
  margin: 20px 0;
}

