#detailTools {
  border-bottom: 1px dashed #EEE;
  a {
    border: 1px solid #EEE;
    border-bottom-color: transparent;
    border-radius: 0;
    color: #555555;
    cursor: pointer;
    span {
      color: #FFCC00;
    }
  }
}

.detailInfo {
  tr {
    td {
      padding: 2px 5px;
    }

    td:first-of-type {
      opacity: .5;
      text-align: right;
      width: 30%;
    }
  }
}

.illustration {
  width: 100%;
  margin: 20px 0;
}

