{% extends "::base.html.twig" %}

{% block title %}GrandsVoisinsBundle:Component:save{% endblock %}

{% set menuSelected = 'show_all_component' %}

{% block body %}
<h1>Welcome to the Component:save page</h1>
{% endblock %}
