#gv-about-inner {
  position: absolute;
  top: 180px;
  left: 200px;
  right: 200px;
  background: rgba(255, 204, 0, 0.9);
  color: #FFF;
  padding: 20px 30px;
  box-shadow: -5px 5px 0 rgba(0, 0, 0, 0.1);
  transform: rotate(-4deg);
  font-size: 17px; }
  #gv-about-inner img {
    position: absolute;
    top: -80px;
    right: 30px; }
