@import "./../../../common/css/color.scss";

.semapps-map-pin-wrapper {
  $circlePinRadius: 33px;
  visibility: visible;
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  cursor: pointer;
  .inner {
    position: absolute;
    top: -28px;
    left: -15px;
    svg {
      width: 30px;
      height: 30px;
      margin: 0 auto;
      display: block;
      top: -30px;
      left: -15px;
    }
    .number {
      text-align: center;
      width: 33px;
      height: 33px;
      margin: -44px auto 0;
      background: $DarkTwoColorOne;
      border-radius: 100px;
      display: block;
      color: #FFF;
      font-size: 20px;
      .number-inner {
        padding-top: 6px;
        text-align: center;
        font-size: 17px;
      }
    }
  }

  @keyframes mapPinHoverIn {
    0% {
      $radius: $circlePinRadius;
      width: $radius;
      height: $radius;
      border-width: 4px;
      margin-top: - (14px + (($radius - $circlePinRadius) / 2));
      margin-left: (($radius - $circlePinRadius) / 2);
      opacity: 1;
    }
    80% {
      opacity: .5;
    }
    100% {
      $radius: 60px;
      width: $radius;
      height: $radius;
      border-width: 0;
      margin-top: - (14px + (($radius - $circlePinRadius) / 2));
      margin-left: -  (($radius - $circlePinRadius) / 2);
      opacity: 0;
    }
  }

  .select-circle {
    border: 0 solid #FFF;
    border-radius: 500px;
    position: absolute;
    margin-top: -28px;
    margin-left: -14px;
  }

  .inner:hover {
    .select-circle {
      animation: mapPinHoverIn 3s cubic-bezier(0, 0.6, 0.4, 1) forwards;
    }
  }

  @keyframes mapPinFadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  &.fadeOut {
    animation: mapPinFadeOut 3s cubic-bezier(0, 0.6, 0.4, 1) forwards;
  }

  .fixedSelectionStop {
    display: none;
    position: absolute;
    top: -24px;
    right: -12px;
    background: rgba(0, 0, 0, 1);
    border-radius: 100px;
    padding: 4px;
    width: 21px;
    height: 21px;
    color: #FFF;
    font-size: 11px;
    text-align: center;
  }
  &.selected {
    .inner {
      top: -33px;
      left: -20px;
      .number {
        border: 5px solid white;
        width: 43px !important;
        height: 43px !important;
        .number-inner {
          top: -38px !important;
          left: -30px !important;
        }
      }
    }
    .fixedSelectionStop {
      display: block !important;
    }
  }
}
