@import "../../common/css/style.scss";

@font-face {
  font-family: "Quicksand";
  src: url("../../common/fonts/quicksand/Quicksand-Regular.ttf");
}

* {
  font-family: Quicksand;
}

a {
  color: $lgvSecondYellow;
}

a:hover {
  @keyframes aHover {
    0% { text-shadow: 0 0 0 rgba(0, 0, 0, 0); }
    1% { text-shadow: 1px 1px 0 rgba(0, 0, 0, .2); }
    100% { text-shadow: 5px 5px 3px rgba(0, 0, 0, .1); }
  }
  text-decoration: none;
  color: darken($lgvSecondYellow, 10);
  animation: aHover 3s forwards;
}

header {
  background: $lgvMainYellow;
  .gv-logo-mini-inner {
    width: 100px;
    margin: -12px 0;
  }
  .logout {
    background-color: transparent;
    font-family: petitevoisine, sans-serif;
    color: #FFF !important;
    padding-top: 20px;
    display: block;
    float: right;
  }

  min-height: 60px;
}

footer {
  margin-top: 100px;
  height: 100px;
  background: #F0F0F0;
}

h2, label, input[type=submit] {
  font-family: petitevoisine, sans-serif;
}

$lgvDashedUnderline: 4px dashed $lgvMainYellow;

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
  font-weight: normal;
  color: $lgvSecondYellow;
  border-bottom: 2px dashed #EEE;
}

label {
  font-family: petitevoisine, sans-serif;
  color: #555;
  font-weight: normal;
  margin: 15px 0 3px 0;
}

input[type=submit] {
  color: #FFF;
}

input[type=submit]:hover {
  color: #FFF;
  background: $lgvSecondYellow;
}

input.form-control {
  border-radius: 0;
}

#loadingPageSpin {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  .spinner {
    margin: 30vw auto 0;
    text-align: center;
    svg {
      max-width: 80px;
      margin: 0 auto;
      display: block;
    }
    h3 {
      color: rgba(255, 255, 255, .8);
      font-size: 14px;
      opacity: 0;
    }
  }
}

#loadingPageSpin.fadeIn {
  display: block;
  @keyframes loadingFadeIn {
    0% { background-color: rgba(0, 0, 0, 0); }
    100% { background-color: rgba(0, 0, 0, .7); }
  }
  animation: loadingFadeIn cubic-bezier(0, .9, .1, 1) 4s forwards;
  .spinner {
    @keyframes loadingSpinFadeIn {
      0% { opacity: 0; margin-top: 30vw; }
      100% { opacity: 1; margin-top: 20vw; }
    }
    animation: loadingSpinFadeIn cubic-bezier(0, .9, .1, 1) 2s forwards;
    @keyframes loadingSpinFadeInText {
      0% { opacity: 0; margin-top: 20px; }
      100% { opacity: .4; margin-top: 10px; }
    }
    h3 {
      animation: loadingSpinFadeInText cubic-bezier(0, .9, .1, 1) 2s forwards;
      animation-delay: .2s;
    }
  }
}

#loadingPageSpin.fadeOut {
  display: block;
  @keyframes loadingFadeOut {
    0% { background-color: rgba(0, 0, 0, .7); }
    100% { background-color: rgba(0, 0, 0, 0); display: none; }
  }
  background-color: rgba(0, 0, 0, .7);
  animation: loadingFadeOut cubic-bezier(0, .9, .1, 1) 2s forwards;
  animation-delay: .2s;
  .spinner {
    @keyframes loadingSpinFadeOut {
      0% { opacity: 1; margin-top: 20vw; }
      100% { opacity: 0; margin-top: 30vw; }
    }
    animation: loadingSpinFadeOut cubic-bezier(.9, 0, 1, .1) .5s forwards;
    @keyframes loadingSpinFadeOutText {
      0% { opacity: .4; margin-top: 10px; }
      100% { opacity: 0; margin-top: 20px; }
    }
    h3 {
      opacity: .4; margin-top: 10px;
      animation: loadingSpinFadeOutText cubic-bezier(.9, 0, 1, .1) .5s forwards;
      animation-delay: .2s;
    }
  }
}

.page-header {
  font-family: petitevoisine, sans-serif;
  border-bottom: $lgvDashedUnderline;
  color: #555;
  .glyphicon {
    color: $lgvMainYellow;
  }
}

.container-auth {
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
  box-shadow: none;
  background: #F5F5F5;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background: #F5F5F5;
}

.nav-tabs li.active a,
.nav-tabs li a {
  cursor: pointer !important;
}

.list {
  color: $lgvMainYellow;
  li span {
    color: #555;
  }
}

.alert-bobby {
  background: url("../../common/images/bobby-min.png") no-repeat center top;
  padding-top: 80px;

  .alert-bobby-inner {
    background: #f1f6fb;
    background: linear-gradient(to bottom, #f5faff 1%, #f1f6fb 100%);
    border: 3px solid #f1f6fb;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.1);
    h3 {
      font-family: petitevoisine, sans-serif;
      margin: 15px;
      opacity: .7;
    }
    p {
      letter-spacing: 1px;
      margin: 25px;
    }
  }
}

#login-form {
}

.block-banner-overflow {
  background: #FFF;
}

.block-banner-overflow,
.block-banner-overflow-transparent {
  margin-bottom: 60px;
  margin-top: -60px;
  padding: 10px 40px;
  .alert-bobby {
    margin-top: -90px;
  }
}

.logo-circle {
  width: 133px;
  height: 133px;
  padding-top: 22px;
}

.alert-danger {
  background: none;
  border-radius: 0;
  border: 5px solid rgba(255, 50, 0, .2);
  transform: rotate(-2deg);
}

.banner-top {
  min-height: 170px;
  background-color: #F5F5F5;
  background-size: cover;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#profilePicture {
  position: relative;
  #profileEditPictureField {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    input[type=file] {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
    }
  }
}
