@import "../../common/css/style.scss";

body {
}

header {
  background: $lgvMainYellow;
  .gv-logo-mini-inner {
    width: 100px;
    margin: -12px 0;
  }
}

h2, label, input[type=submit] {
  font-family: petitevoisine, sans-serif;
}

h2 {
  border-bottom: 4px dashed $lgvMainYellow;
}

label {
  font-family: petitevoisine, sans-serif;
  color: #555;
  font-weight: normal;
  margin: 15px 0 3px 0;
}

input[type=submit] {
  color: #FFF;
}

input.form-control {
  border-radius: 0;
}

.container-auth {
  margin-top: 60px;
}

