@font-face {
  font-family: 'petitevoisineexpanded';
  src: url("../../common/fonts/petitevoisine/petite_voisine_bold_final-webfont.woff2") format("woff2"), url("../../common/fonts/petitevoisine/petite_voisine_bold_final-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.btn-primary-lgv {
  background: #FFCC00;
  border-radius: 0; }

.table tbody tr td.padded-value {
  padding: 16px; }

.panel-gv {
  background: #F0F0F0;
  color: #555; }

header {
  background: #FFCC00; }
  header .gv-logo-mini-inner {
    width: 100px;
    margin: -12px 0; }
  header .logout {
    background-color: transparent;
    font-family: petitevoisine, sans-serif;
    color: #FFF !important;
    padding-top: 30px;
    display: block;
    float: right; }

h2, label, input[type=submit] {
  font-family: petitevoisine, sans-serif; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 18px;
  font-weight: normal;
  color: #BB6600;
  border-bottom: 2px dashed #EEE; }

label {
  font-family: petitevoisine, sans-serif;
  color: #555;
  font-weight: normal;
  margin: 15px 0 3px 0; }

input[type=submit] {
  color: #FFF; }

input[type=submit]:hover {
  color: #FFF;
  background: #BB6600; }

input.form-control {
  border-radius: 0; }

.page-header {
  font-family: petitevoisine, sans-serif;
  border-bottom: 4px dashed #FFCC00;
  color: #555; }
  .page-header .glyphicon {
    color: #FFCC00; }

.container-auth {
  margin-top: 60px; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
  box-shadow: none;
  background: #F5F5F5; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background: #F5F5F5; }

body .nav-tabs li.active a,
body .nav-tabs li a {
  cursor: pointer !important; }
