//$lgvMainYellow: #FFCC00;
//$lgvSecondYellow: #BB6600;
////47c6fa
//$mainColorOne: #28cdfb;
//$secondColor: #003869;
//$lgvMainGreen: #00cd00;
//$lgvSecondGreen: #00a500;

$ClearTwoColorOne: #81e0fa;
$ClearOneColorOne: #53D6Fb;
$mainColorOne: #28ccfb;
$darkOneColorOne: #07c3f8;
$DarkTwoColorOne: #01acdd;

$ClearTwoColorTwo: #cef482;
$ClearOneColorTwo: #bcef5b;
$mainColorTwo: #a4de37;
$DarkOneColorTwo: #87c513;
$DarkTwoColorTwo: #679b06;

$greyLight: #ADB3B4;
$greyMain: #838e91;
$greyDark: #65767B;


//$mainColorOne: #28ccfb;
//$secondColor: #01acdd;
//$thirdColor: #BCEF5B;
