{% extends "::admin.html.twig" %}

{% block bodyContent %}
    {{ parent() }}
<div class="container container-auth">
    <div class="row">
        <div class="col col-sm-4">
            <div class="block-banner-overflow">
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} fade in">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <!-- Auth -->
    {% block fos_user_content %}
    {% endblock fos_user_content %}
            </div>
        </div>
        {% block bobby %}
            <div class="col col-sm-6 col-sm-offset-1">
                <div class="block-banner-overflow-transparent">
                    {% embed "alertBobby.html.twig" %}
                        {% block title %}Salut à toi Ô Voisin&nbsp;!{% endblock %}
                        {% block content %}
                            <p>Je m’appelle Bobby, et je te souhaite la bienvenue
                                sur
                                l’application de cartographie des Grands Voisins
                                !</p>

                            <p>Si tu es résident et que tu n’as pas reçu
                                d’identifiant,
                                écris un mail à <a
                                        href="mailto:c.gondouin@aurore.asso.fr">c.gondouin@aurore.asso.fr</a>
                            </p>
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        {% endblock bobby %}
    </div>
</div>
{% endblock %}
