{% extends "::admin.html.twig" %}

{% macro photoBanner(filename) %}
    <div class="banner-top"
         style="background-image: url( '{{ asset('common/images/' ~ filename ~ '.jpg') }}');">
    </div>
{% endmacro %}

{% block bodyContent %}
    {{ parent() }}

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <!-- Auth -->
    {% block fos_user_content %}
    {% endblock fos_user_content %}
{% endblock %}
