{% extends "::admin.html.twig" %}

{% block bodyContent %}
    {{ parent() }}
<div class="container container-auth">
    <div class="row">
        <div class="col col-sm-4">
            <div class="block-banner-overflow">
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} fade in">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <!-- Auth -->
    {% block fos_user_content %}
    {% endblock fos_user_content %}
            </div>
        </div>
        {% block bobby %}
            <div class="col col-sm-6 col-sm-offset-1">
                <div class="block-banner-overflow-transparent">
                    {% embed "alertBobby.html.twig" %}
                        {% block title %}Bienvenue sur la plateforme du MMM Fest !{% endblock %}
                        {% block content %}
                            <p>Je m’appelle Bobby, et je te souhaite la bienvenue au MMM Fest !
                            </p>

                            <p>Si tu souhaites organiser un workshop, rends toi sur la page Inscriptions !
                            </p>
                            <p>Si tu as été invité à participer à un workshop / si tu es bénévole, crée toi en compte en sélectionnant l’organisation qui t’a invitée.</p>
                            <p>Si tu es déjà inscrit, n’hésite pas à remplir ton profil, à renseigner tes projets etc, cela te permettra de te faire plein d’amis pendant le festival ;-)</p>
                            <p>Nous te souhaitons de vivre une belle expérience au Millemont Makers & Music festival !</p>
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        {% endblock bobby %}
    </div>
</div>
{% endblock %}
