#gv-map {
  margin-top: 60px; }

@keyframes mapZoneFadeIn {
  from {
    opacity: 0.5; }
  to {
    opacity: 0.8; } }

@keyframes mapZoneFadeInStrong {
  from {
    opacity: 0.5; }
  to {
    opacity: 0.8; } }

@keyframes mapZoneFadeOut {
  from {
    opacity: 0.8; }
  to {
    opacity: 0.5; } }
  #gv-map .mapContent {
    position: relative; }
    #gv-map .mapContent .mapZone {
      cursor: pointer;
      animation: mapZoneFadeIn 0.2s cubic-bezier(0.8, 0, 0.3, 0.9) forwards; }
    #gv-map .mapContent .mapZone.strong {
      opacity: 0.4; }
    #gv-map .mapContent .mapZone.discreet:not(.strong) {
      animation: mapZoneFadeOut 0.5s cubic-bezier(0.8, 0, 0.3, 0.9) forwards; }
    #gv-map .mapContent .gv-mapInner {
      border: 8px dashed #F0F0F0;
      transform: rotate(-1deg);
      max-width: 100vh;
      margin: 20px auto; }

#gv-map-pins {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

@media (max-width: 768px) {
  #gv-map .mapContent .gv-mapInner {
    border: 0;
    transform: none;
    max-width: inherit;
    margin: 0; } }
