#searchTabs {
  margin-bottom: 10px;
  .glyphicon {
    margin-right: 8px;
    opacity: .2;
  }

  a {
    color: #666;
  }

  .counter {
    background: rgba(0, 0, 0, 0.2);
    padding: 3px 5px;
    border-radius: 50px;
    color: #FFF;
  }

  .active {
    a {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffcc00+0,ffb600+100 */
      background: #ffcc00; /* Old browsers */
      background: -moz-linear-gradient(top, #ffcc00 0%, #ffb600 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #ffcc00 0%, #ffb600 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #ffcc00 0%, #ffb600 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc00', endColorstr='#ffb600', GradientType=0); /* IE6-9 */
      color: #FFF;
      border-color: #ffb600;
      border-bottom: 1px solid #ce8900;
      .glyphicon {
        opacity: .7;
      }
    }
    .counter {
      color: #FFCC00;
    }
  }
}

#gv-results-error {
  display: none;
}

#gv-results-empty {
  text-align: center;
  background: none;
  border: none;
  box-shadow: none;
  color: #AAA;
  padding: 40px;
}

.col-blocks {
  .block {
    background: #FFCC00;
    color:#FFF;
    padding:10px;
  }
}

