#searchTabs {
  margin-bottom: 10px;
}

#gv-results-empty {
  text-align: center;
  background: none;
  border: none;
  box-shadow: none;
  color: #AAA;
  padding: 40px;
}

.col-blocks {
  .block {
    background: #FFCC00;
    color: #FFF;
    padding: 10px 15px;
    box-shadow: -8px 8px 0px rgba(0, 0, 0, .1);
    font-family: petitevoisine;
    text-align: center;
    transform: rotate(-4deg);
  }
}

gv-results-tab {
  float: left;
}

