@font-face {
  font-family: 'petitevoisineexpanded';
  src: url("../../common/fonts/petitevoisine/petite_voisine_bold_final-webfont.woff2") format("woff2"), url("../../common/fonts/petitevoisine/petite_voisine_bold_final-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'patrickhands';
  src: url("/common/fonts/patrickhands/PatrickHandSC-Regular.ttf"); }

.btn-primary-lgv {
  background: #007cb7;
  border-radius: 0; }

.table tbody tr td.padded-value {
  padding: 16px; }

.panel-gv {
  background: #F0F0F0;
  color: #555; }

.logo-circle {
  position: absolute;
  background: #007cb7;
  border-radius: 1000px;
  z-index: 100;
  width: 110px;
  height: 110px;
  padding: 12px 10px;
  top: -27px;
  border: 7px dotted #FFF; }
  .logo-circle img {
    width: 80px; }
  .logo-circle h1 {
    display: none; }

.clearfix {
  clear: both; }

#mm-prez {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  background: #161415 url(../../../common/images/chateau-millemont_prez.jpg) no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden; }

/* vertically center banner section */
#mm-prez:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

#mm-prez .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center; }

#mm-prez .banner-text {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); }

#mm-prez .banner-text h1 {
  font: 90px/1.1em;
  font-family: petitevoisine, patrickhands, sans-serif;
  color: #fff;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8); }

#mm-prez .banner-text h3 {
  font: 18px/1.9em;
  font-family: petitevoisine, patrickhands, sans-serif;
  color: #ffffff;
  margin: 0 auto;
  width: 70%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); }

#mm-prez .banner-text h3 span,
#mm-prez .banner-text h3 a {
  color: #fff; }

#mm-prez .banner-text hr {
  width: 60%;
  margin: 18px auto 24px auto;
  border-color: #fff;
  border-color: rgba(150, 150, 150, 0.1); }

/* #mm-prez social links */
#mm-prez .social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8); }

#mm-prez .social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0; }

#mm-prez .social li a {
  color: #fff; }

#mm-prez .social li a:hover {
  color: #11ABB0; }

/* scrolldown link */
#mm-prez .scrolldown a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  color: #fff;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  color: #fff;
  border-radius: 100%;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

#mm-prez .scrolldown a:hover {
  color: #11ABB0; }
