footer {
  letter-spacing: 5px;
  font-size: 16px;
  font-family: petitevoisine; }
  footer .about-av {
    font-family: Helvetica;
    letter-spacing: normal;
    font-size: 18px; }
    footer .about-av a {
      color: #28ccfb; }
