.tag-cloud {
  padding: 4px 14px;
  margin: 2px 5px;
  display: block;
  float: left;
  border-radius: 38px;
  color: white;
  text-decoration: none; }

.tag-cloud:hover {
  background: #65767B !important;
  border: 1px solid #65767B !important;
  color: #28ccfb !important; }
