.detailInfo tr td {
  padding: 2px 5px;
}

.detailInfo tr td:first-of-type {
  opacity: .5;
  text-align: right;
  width: 30%;
}

.description {
  border-top: 1px dotted #DDD;
  margin-top: 20px;
  padding-top: 20px;
}

.illustration {
  width: 100%;
  margin: 20px 0;
}

h3 {
  font-size: 16px;
  color: #CCC;
}

ul, li {
  list-style: none;
}

.fieldLabel {
  text-align: right;
  color: #C0C0C0;
  padding-right: 10px;
}

.social-links .social {
  width: 40%;
  margin: 5%;
  float: left;
}

.organizationInfo .field-empty {
  display: none;
}
