body.skip-intro #semapps-logo-animated-inner {
  animation-delay: 0s;
  display: none; }

.pageLoadingSpinner .semapps-spinner {
  width: 50px;
  margin: 40px auto; }

footer {
  margin-top: 80px;
  background-color: #F5F5F5;
  padding: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3); }
  footer a, footer a:hover {
    text-decoration: none; }
  footer .wexample-logo,
  footer .aurore-logo,
  footer .semapps-logo-mini,
  footer .semapps-logo-mini div,
  footer .semapps-logo-mini svg,
  footer .av-logo-svg {
    width: 40px;
    display: inline;
    vertical-align: middle; }
  footer .logo-aurore {
    fill: rgba(0, 0, 0, 0.3);
    height: 40px; }
  footer .wexample-logo {
    fill: rgba(0, 0, 0, 0.3);
    width: 20px;
    height: 20px; }
  footer .av-logo-svg path {
    fill: rgba(0, 0, 0, 0.3); }
  footer .semapps-logo-mini svg path {
    stroke: rgba(0, 0, 0, 0.3); }
  footer .separator {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 30px;
    height: 10px; }

@keyframes barWidth {
  to {
    x: 0;
    width: 100%; }
  to {
    x: 100%;
    width: 0; } }

.logoIntroBar {
  background: pink;
  animation: barWidth 1s cubic-bezier(0.8, 0, 0.3, 0.9) forwards; }
