@import "./../../../common/css/color.scss";

h3 {
  font-size: 16px;
  color: #CCC;
}

ul, li {
  list-style: none;
}

.fieldLabel {
  text-align: right;
  color: #C0C0C0;
  padding-right: 10px;
  vertical-align: top;
}

.social-links .social {
  width: 40%;
  margin: 5%;
  float: left;
}

.detailInfo .field-empty {
  display: none;
}

h2, h3 {
  font-family: petitevoisine, sans-serif;
}

h2 {
  color: $mainColorOne;
}

h3 {
  color: $greyDark;
  font-size: 16px;
  text-align: right;
  border-bottom: 1px dashed #CCC;
  padding-bottom: 10px;
  margin-bottom: 15px;
  span.glyphicon {
    opacity: .3;
    float: left;
  }
}

.detailInfo {
  width: 100%;
  tr {
    td {
      padding: 6px 5px;
      border-bottom: 1px solid #F5F5F5;
    }

    td:first-of-type {
      text-align: right;
      width: 30%;
    }
  }
}

.side-blocks {
  a.strip {
    background-color: $DarkTwoColorOne;
    font-weight: bold;
    font-size: 14px;
    display: block;
    color: white;
    padding: 10px 15px;
    transform: rotate(-2deg);
    box-shadow: -5px 5px 0 rgba(0, 0, 0, .1);
  }
  a.strip:hover {
    background: white;
    color: #555;
    border: 4px solid $DarkTwoColorOne;
    padding: 6px 11px;
    text-decoration: none;
  }

  a.list-item {
    span {
      margin-right: 10px;
      color: $DarkTwoColorOne;
    }
    color: #666;
  }
}

.tags-cloud {
  a {
    background: $ClearOneColorTwo;
    padding: 4px 14px;
    margin: 2px 5px;
    display: block;
    float: left;
    border-radius: 38px;
    color: $greyDark;
    border: 1px solid $ClearOneColorTwo;
    text-decoration: none;
  }
  a:hover {
    background: $darkOneColorOne;
    border: 1px solid $darkOneColorOne;
    color: $greyDark;
  }
}

.tags-cloud-2 {
  a {
    background-color: $ClearOneColorTwo;
    border-color: $ClearOneColorTwo;
  }
  a:hover {
    background: #FFF;
    border-color: #FC0;
    color: #FC0;
  }
}

.detail-description-inner {
  border: 2px dashed $DarkTwoColorOne;
  padding: 10px;
  margin: 10px 0;
  box-shadow: -5px 5px 0 rgba(0, 0, 0, 0.1);
}

.detail-image {
  .image {
    background-position: center;
    background-size: cover;
    padding-bottom: 100%;
  }
}

.block-projects {
}
