#detailTools {
  border-bottom: 1px dashed #EEE; }
  #detailTools a {
    border: 1px solid #EEE;
    border-bottom-color: transparent;
    border-radius: 0;
    color: #65767B;
    cursor: pointer; }
    #detailTools a span {
      color: #bcef5b;
      margin-right: 9px; }

.illustration {
  width: 100%;
  margin: 20px 0; }
