#detailTools {
  border-bottom: 1px dashed #EEE;
  a {
    border: 1px solid #EEE;
    border-bottom-color: transparent;
    border-radius: 0;
    color: #555555;
    cursor: pointer;
    span {
      color: #1e90ff;
      margin-right: 9px;
    }
  }
}

.illustration {
  width: 100%;
  margin: 20px 0;
}

